export/
deployments/
artifacts/
cache/
coverage/
node_modules/
package.json
typechain-types/
dapp_test/test.sol
_lib/
.dappp
*.json
.yalc

.prettierrc.js
pnpm-lock.yaml
package.json

projects/**/export/
projects/**/deployments/
projects/**/artifacts/
projects/**/cache/
projects/**/coverage/
projects/**/node_modules/
projects/**/package.json
projects/**/typechain-types/
projects/**/dapp_test/test.sol
projects/**/_lib/
projects/**/.dappp
projects/**/*.json
projects/**/.yalc
projects/**/.prettierrc.js
projects/**/pnpm-lock.yaml
projects/**/package.json
